<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                            ">

    <context:component-scan base-package="com.channelsoft.ucds.*"/>

    <!--<bean id="producerFactory" init-method="refreshProducers" class="com.channelsoft.common.rocketmq.support.CacheProducerFactoryImpl">-->
        <!--<property name="nameServerAddress" value="10.130.41.36:9876"/>-->
        <!--<property name="retyTimesWhenSendFailed" value="3"/>-->
    <!--</bean>-->

    <!--<bean id="replyMakeCallHandler" class="com.channelsoft.ucds.consumers.ReplyMakeCallMessageListenerOrderly"/>-->

    <!--<bean id="consumerFactory" init-method="refreshConsumers" class="com.channelsoft.common.rocketmq.support.CacheConsumerFactoryImpl">-->
        <!--<property name="nameSrvAddress" value="10.130.41.36:9876"/>-->
        <!--<property name="tagAndMessageHandlers">-->
            <!--<list>-->
                <!--<bean id="tagAndMessageHandler" class="com.channelsoft.common.rocketmq.TagAndMessageHandler">-->
                    <!--<property name="tag" value="replyMakeCall"/>-->
                    <!--<property name="messageListenerOrderly" ref="replyMakeCallHandler"/>-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="rocketManager" class="com.channelsoft.common.rocketmq.RocketMqManager">-->
        <!--<property name="producerFactory" ref="producerFactory"/>-->
        <!--<property name="consumerFactory" ref="consumerFactory"/>-->
    <!--</bean>-->

    <mvc:annotation-driven/>

    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>